<form class="universal-form ws-validate view-animate-container" name="contactForm" id="contactForm"
      enctype="multipart/form-data" method="POST" ng-submit="" >

    <div>

        <fieldset>

            <legend>Uw persoonlijke gegevens</legend>
            <p >
                U bent ingelogd. We hebben de bij ons bekende gegevens al ingevuld.
            </p>


            <div >
                <label >Achternaam</label>

                <div >
                    <input id="achternaam" name="achternaam" ng-model="formFields.achternaam" placeholder="Achternaam"
                           title="Alleen letters." maxlength="30"
                           pattern="^[a-zA-Z\u00c0-\u02AF]{1}[a-zA-Z\s\-'\.\u00c0-\u02AF]{0,29}$" type="text">
                </div>
            </div>

        </fieldset>
        <div class="buttonBar" part="buttonBar">
            <button class="groot" id="odNextStep" ng-click="submitForm();" type="submit"
                    >
                <span>Verzenden</span>
            </button>
        </div>
    </div>


</form>

